h1 {
    color: pink;
}

h2 {
    color: blue;
}

.txt-orange,
h4 {
    color: orange;
}

.txt-purple,
.section h3 {
    color: purple;
}

.subtitle-red {
    color: red;
}

.list-movie {
    color: green;
}
