/*  Reset CSS, je reinitialise les valeurs et comportements par defaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
}

h1 {
    width: 500px;
    margin: 50px auto;
    background-color: #3e913e;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    /* La valeur par defaut d'un element block est { display: block; }*/
    /* display: block; */

    background-color: #3498db;
    color: #fff;
    text-align: center;

    /* Largeur */
    /* min-width: 700px; */
    width: 60%;
    min-width: 300px;
    max-width: 800px;

    /* Hauteur */
    /* height: 300px; */
    min-height: 200px;

    /* Margin sert à mettre de la marge exterieur, il y a plein de raccourcis */

    /* margin-top: ; */
    /* margin-right: ; */
    /* margin-bottom: ; */
    /* margin-left: ; */
    /* margin: 40px 30px 30px 50px; */
    /* margin: 50px 200px; */
    /* margin: 100px; */

    /* { margin: auto; } permet de centrer le block */
    margin: 50px auto;

    /* Padding sert à mettre la marge interieure */

    /* padding-top: ; */
    /* padding-right: ; */
    /* padding-bottom: ; */
    /* padding-left: ; */
    /* padding: 40px 30px 30px 50px; */
    /* padding: 10px 20px; */
    padding: 50px;

    /* La propriété raccourci { border: } permet de preciser la taille, le style et la couleur de la bordure */
    /* border: 1px solid #000; */

    /* { border-radius: } permet d'arrondir les angles */
    border-radius: 10px;

    /* { box-shadow: }  permet de créer une ombre */
    box-shadow: 4px 4px 8px #333;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: #eb5858;
    border-radius: 50%;
    margin: auto;
    /* { box-shadow: }  permet de créer une ombre */
    box-shadow: 4px 4px 10px #999;
}

.definition {
    margin: 50px;
    color: #333;
    text-align: center;
}

span {
    /* La valeur par defaut d'un element inline est { display: inline; }*/
    /* display: inline; */
    font-weight: bold;
    font-style: italic;
}
