<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Project - A propos</title>
        <link rel="stylesheet" href="../css/style.css" />
    </head>
    <body>
        <header class="header">
            <a href="../index.html" class="logo">Paris</a>
            <nav>
                <!-- Accueil -->
                <a href="../index.html">Accueil</a>
                <!-- Contact -->
                <a href="contact.html">Contact</a>
                <!-- A propos -->
                <a href="about-us.html">A propos</a>
            </nav>
        </header>
        <main>
            <section class="">
                <h1>about</h1>
            </section>
        </main>
        <footer></footer>
    </body>
</html>
