/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    height: 65px;
    border-bottom: 1px solid #999;
    padding: 0 80px;
}
